body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E8D4F4;
}

header {
    display: flex;
    background: white;
    color: #333333;
    padding: 2.5rem 1.25rem;
    height: 12vh;
}

.logo {
    max-width: 20vw;
    max-height: 30vh;
    margin-right: 2vw;
    margin-top:0;
    background-color: #a56cc1;

}

header h1 {
    font-size: 2.25rem;
    margin: 0;
    color: #333;
}
header p {
    font-style: normal;
    font-size: 1.125rem;
    color:#a56cc1
}

.headergroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto; 

}

/* Navigation */
nav {
    text-align: right;
    background-color: #fff;
    padding: 0.625rem 0;
}

nav a {
    color: #333333;
    text-decoration: none;
    margin: 0 0.94rem;
    font-weight: bold;
    margin-right: 3.75vw;
}

nav a:hover {
    color: #a56cc1;
}


/* Footer */
footer {
    background-color: #E8D4F4;
    text-align: center;
    padding: 1.25rem;
    color:#a56cc1;
    border-top: 0.2rem solid #a56cc1;
}
