body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E8D4F4;
}

header {
    text-align: center;
    background: white;
    color: #333333;
    padding: 40px 20px;
}

header img {
    display: block;
    margin: 0 auto 10px;
    min-width: 100px;
    max-width: 150px;
    min-height: 100px;
    max-height: 150px;
    background-color: #B5B5B5;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    font-style: italic;
    font-size: 18px;
}

/* Navigation */
nav {
    text-align: center;
    background-color: #fff;
    padding: 10px 0;
}

nav a {
    color: #333333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #a56cc1;
}


/* Footer */
footer {
    background-color: #E8D4F4;
    text-align: center;
    padding: 20px;
}
